table {
    width: 100%;
    color: #111;
}

thead tr {
    height: 34px;
}

tr {
    height: 48px;
}

table th,
td {
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px dotted #bbbbbb;
    padding: 0 10px;
    text-align: left;
}

th {
    font-family: 'Notosans-Bold';
    background-color: #eceef1;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px dotted #bbbbbb;
    border-collapse: collapse;
    margin-left: 12px;
}